body {
    color: white;
    font-family: sans-serif;
    background:linear-gradient(45deg, black 30%, midnightblue);
}

body section h2 {
    color: white;
    text-align: center;
}

header {
    padding: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    display: inline-block;
    padding: 15px;
}

nav a:first-of-type {
    margin-right: 200px;
    font-size: xx-large;
}

.best_movie {
    text-align: center;
}

.best_movie button{
    border-radius: 2rem;
    font-size: large;
    color: white;
    background:linear-gradient(45deg, black 30%, midnightblue);
}

.best_movie button:hover, button:focus{
    background: white;
    color: black;
    transition: 1s ease-out;
}

section div a {
    cursor: pointer;
}

/*
CARROUSEL
*/

.carrousel {
    position: relative;
}

.carrousel_item {
    float: left;
}

.carrousel_container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carrousel_container::after {
    content: '';
    clear: both;
    display: table;
}

.carrousel_next, .carrousel_prev {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #FFF url(images/right.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: 0.3s, opacity 0.3s;
    top: 50%;
}

.carrousel_next:hover, .carrousel_prev:hover {
    transform: scale(1.2);
}


.carrousel_prev {
    background-image: url(images/left.svg);
    right: auto;
    left: -20px;
}

.carrousel_next_hidden, .carrousel_prev_hidden {
    opacity: 0;
}

.item {
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

.previous, .next {
    cursor: pointer;
    top: 50%;
    width: 52px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    background-color: transparent;
    border: 0;
}

/*
Modal
*/

.modal {
    display: none;
    width: 100%;
    padding: 30px;
    max-width: 700px;
    min-width: 300px;
    max-height: 800px;
    background:linear-gradient(45deg, black 30%, midnightblue);
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
}

.modal img{
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
}

.modal h2{
    text-align: center;
}

.modal p {
    padding-bottom: 5px;
}

#best_movie_button_info {
    cursor: pointer;
    display: block;
    margin: auto;
}

#movie_button_info {
    cursor: pointer;
    display: block;
}

.close_button {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: black;
    color: white;
}

