body {
    background-color: black;
    color: white;
}

header {
    padding: 20px;
}

nav{
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    display: inline-block;
    padding: 15px;
}

nav a:first-of-type{
    margin-right: 200px;
    font-size: xx-large;
}

/*
CARROUSEL
*/

.carrousel {
    position: relative;
}

.carrousel_item {
    float: left;
}

.carrousel_container::after {
    content: '';
    clear: both;
    display: table;
}

.carrousel_next, .carrousel_prev {
    width: 40px;
    height: 40px;
    position absolute
}

.carrousel_prev {

}



